@using BetEuro.Models.Extensions

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BetEuro</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Highcharts-4.0.1/js/highcharts.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @{string txt = "BetEuro";}
                @if (User.Identity.IsAuthenticated)
                {
                    if (!User.Identity.GetPiwoVal())
                    {
                        txt = "bez PIWA";
                    }
                    else if (User.Identity.GetPaidVal())
                    {
                        txt = "PIWO";
                    }
                    else
                    {
                        txt = "PIWO (nieaktywne)";
                    }
                }
                @Html.ActionLink(txt, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Admin"))
                            {
                                @Html.ActionLink("Admin", "Admin", "Admin")
                            }
                        }
                    </li>
                    <li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            @Html.ActionLink("Tabela", "Leaderboard", "Home")
                        }
                    </li>
                    <li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            @Html.ActionLink("Stats", "Stats", "Home", new { userName = User.Identity.Name }, null)
                        }
                    </li>
                    <li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            @Html.ActionLink("Mecze", "Matches", "Home")
                        }
                    </li>
                    <li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            @Html.ActionLink("Wyniki", "UserBets", "Home", new { userName = User.Identity.Name },null)
                        }
                    </li>
                    <li>
                        @Html.ActionLink("?", "Rules", "Home")
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
