@model BetEuro.Score

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Czy jesteś pewien, że chcesz usunąć ten wynik ?</h3>
<div>
    <h4>Wynik:</h4>
    <hr />
    <dl class="dl-horizontal">       
        <dt>
            @Html.DisplayNameFor(model => model.Match)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Match.HomeTeam.ShortName) - @Html.DisplayFor(model => model.Match.AwayTeam.ShortName)
        </dd>
         <dt>
            @Html.DisplayNameFor(model => model.HomeScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AwayScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwayScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Result)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Result)
        </dd>   
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Powrót do listy", "Index")
        </div>
    }
</div>
