@model IEnumerable<BetEuro.Match>

@{
    ViewBag.Title = "Bet Euro";
}


@{
    DateTime now = DateTime.Now;
    IEnumerable<Match> beforeList = Model.Where(p => p.Date.AddHours(2) < now).OrderByDescending(p => p.Date).Take(10);
    IEnumerable<Match> afterList = Model.Where(p => p.Date > now).OrderBy(p => p.Date).Take(10);
    IEnumerable<DateTime> beforeDateList = beforeList.Select(p => p.Date.Date).Distinct();
    IEnumerable<DateTime> afterDateList = afterList.Select(p => p.Date.Date).Distinct();
    IEnumerable<Match> nowList = Model.Where(p => p.Date < now && p.Date.AddHours(2) > now).OrderByDescending(p => p.Date);
        }

@if (nowList.Count() > 0)
{
<h3 style="text-align:center">Trwające mecze:</h3>

    <div style="max-width:682px;margin:auto">
        <div class="panel" style="padding-bottom:0px;margin-bottom:0px;padding-top:0px;margin-top:0px">
            <div class="panel-heading">
                <h3 class="panel-title" style="text-align:center">@now.Date.ToShortDateString()</h3>
            </div>
        </div>
        <ul style="list-style-type:none;margin:0px;padding:0px">
            @foreach (Match match in nowList.Where(p => p.Date.Date == now.Date))
            {
                <li>
                    <a href="@Url.Action("SingleMatch", "Home", new { id = match.Id })">
                        <table class="table table-striped table-hover " style="margin:0px;padding:0px">
                            @if (match.Factor != 1)
                            {
                                <tr class="danger">
                                    <td colspan="7" style="text-align:center">
                                        Mecz punktowany x @match.Factor
                                    </td>
                                </tr>
                                <tr class="danger">
                                    <td width="23%" style="vertical-align:middle">@match.Date.ToString("HH:mm")</td>
                                    <td width="10%" align="right" style="vertical-align:middle">
                                        @match.HomeTeam.ShortName
                                    </td>
                                    <td width="8%" align="center">
                                        <img src="@Url.Content("~/Content/Images/Flags/" + match.HomeTeam.ShortName + ".png")" width="30" height="30" />
                                    </td>
                                    <td width="18%" align="center" style="vertical-align:middle">
                                        @if (match.Score != null)
                                        {
                                            <span>@match.Score.HomeScore.ToString():@match.Score.AwayScore.ToString()</span>
                                        }
                                        else
                                        {
                                            <span>n/d</span>
                                        }
                                    </td>
                                    <td width="8%" align="center">
                                        <img src="@Url.Content("~/Content/Images/Flags/" + match.AwayTeam.ShortName + ".png")" width="30" height="30" />
                                    </td>
                                    <td width="10%" align="left" style="vertical-align:middle">
                                        @match.AwayTeam.ShortName
                                    </td>
                                    <td width="23%" align="right" style="vertical-align:middle">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            if (match.Bets.Any(p => p.User.UserName == User.Identity.Name))
                                            {
                                                Bet bet = match.Bets.Single(p => p.User.UserName == User.Identity.Name);
                                                <span>| <b>@bet.HomeScore:@bet.AwayScore</b></span>
                                            }
                                            else
                                            {
                                                <span>| <b>brak</b></span>
                                            }
                                        }
                                    </td>
                                </tr>

                            }
                            else
                            {
                             <tr>
                                <td width="23%" style="vertical-align:middle">@match.Date.ToString("HH:mm")</td>
                                <td width="10%" align="right" style="vertical-align:middle">
                                    @match.HomeTeam.ShortName
                                </td>
                                <td width="8%" align="center">
                                    <img src="@Url.Content("~/Content/Images/Flags/" + match.HomeTeam.ShortName + ".png")" width="30" height="30" />
                                </td>
                                <td width="18%" align="center" style="vertical-align:middle">
                                    @if (match.Score != null)
                                    {
                                        <span>@match.Score.HomeScore.ToString():@match.Score.AwayScore.ToString()</span>
                                    }
                                    else
                                    {
                                        <span>n/d</span>
                                    }
                                </td>
                                <td width="8%" align="center">
                                    <img src="@Url.Content("~/Content/Images/Flags/" + match.AwayTeam.ShortName + ".png")" width="30" height="30" />
                                </td>
                                <td width="10%" align="left" style="vertical-align:middle">
                                    @match.AwayTeam.ShortName
                                </td>
                                <td width="23%" align="right" style="vertical-align:middle">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        if (match.Bets.Any(p => p.User.UserName == User.Identity.Name))
                                        {
                                            Bet bet = match.Bets.Single(p => p.User.UserName == User.Identity.Name);
                                            <span>| <b>@bet.HomeScore:@bet.AwayScore</b></span>
                                        }
                                        else
                                        {
                                            <span>| <b>brak</b></span>
                                        }
                                    }
                                </td>
                            </tr>
                            }
                        </table>
                    </a>
                </li>
            }
        </ul>
    </div>
}

<h3 style="text-align:center">Najbliższe mecze:</h3>
@foreach (DateTime date in afterDateList)
{
    <div style="max-width:682px;margin:auto">
        <div class="panel" style="padding-bottom:0px;margin-bottom:0px;padding-top:0px;margin-top:0px">
            <div class="panel-heading">
                <h3 class="panel-title" style="text-align:center">@date.Date.ToShortDateString()</h3>
            </div>
        </div>
        <ul style="list-style-type:none;margin:0px;padding:0px">            
            @foreach (Match match in afterList.Where(p => p.Date.Date == date.Date))
            {                                
                <li>     
                    <a href="@Url.Action("SingleMatch", "Home", new { id = match.Id })">
                        <table class="table table-striped table-hover " style="margin:0px;padding:0px">
@if (match.Factor != 1)
{
    <tr class="danger">
        <td colspan="7" style="text-align:center">
            Mecz punktowany x @match.Factor
        </td>
    </tr>
    <tr class="danger">
        <td width="23%" style="vertical-align:middle">@match.Date.ToString("HH:mm")</td>
        <td width="10%" align="right" style="vertical-align:middle">
            @match.HomeTeam.ShortName
        </td>
        <td width="8%" align="center">
            <img src="@Url.Content("~/Content/Images/Flags/" + match.HomeTeam.ShortName + ".png")" width="30" height="30" />
        </td>
        <td width="18%" align="center" style="vertical-align:middle">
            @if (match.Score != null)
            {
                <span>@match.Score.HomeScore.ToString():@match.Score.AwayScore.ToString()</span>
            }
            else
            {
                <span>n/d</span>
            }
        </td>
        <td width="8%" align="center">
            <img src="@Url.Content("~/Content/Images/Flags/" + match.AwayTeam.ShortName + ".png")" width="30" height="30" />
        </td>
        <td width="10%" align="left" style="vertical-align:middle">
            @match.AwayTeam.ShortName
        </td>
        <td width="23%" align="right" style="vertical-align:middle">
            @if (User.Identity.IsAuthenticated)
            {
                if (match.Bets.Any(p => p.User.UserName == User.Identity.Name))
                {
                    Bet bet = match.Bets.Single(p => p.User.UserName == User.Identity.Name);
                    <span>| <b>@bet.HomeScore:@bet.AwayScore</b></span>
                }
                else
                {
                    <span>| <b>brak</b></span>
                }
            }
        </td>
    </tr>

}
else
{
                            <tr>
                                <td width="23%" style="vertical-align:middle">@match.Date.ToString("HH:mm")</td>
                                <td width="10%" align="right"  style="vertical-align:middle">
                                    @match.HomeTeam.ShortName
                                </td>
                                <td width="8%" align="center">
                                    <img src="@Url.Content("~/Content/Images/Flags/" + match.HomeTeam.ShortName + ".png")" width="30" height="30" />
                                </td>
                                <td width="18%" align="center" style="vertical-align:middle">
                                    @if (match.Score != null)
                                    {
                                        <span>@match.Score.HomeScore.ToString():@match.Score.AwayScore.ToString()</span>
                                    }
                                    else
                                    {
                                        <span>n/d</span>
                                    }
                                </td>
                                <td width="8%" align="center">
                                    <img src="@Url.Content("~/Content/Images/Flags/" + match.AwayTeam.ShortName + ".png")" width="30" height="30" />
                                </td>
                                <td width="10%" align="left" style="vertical-align:middle">
                                    @match.AwayTeam.ShortName
                                </td>
                                <td width="23%" align="right" style="vertical-align:middle">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        if (match.Bets.Any(p => p.User.UserName == User.Identity.Name))
                                        {
                                            Bet bet = match.Bets.Single(p => p.User.UserName == User.Identity.Name);
                                            <span>| <b>@bet.HomeScore:@bet.AwayScore</b></span>
                                        }
                                        else
                                        {
                                            <span>| <b>brak</b></span>
                                        }
                                    }
                                </td>
                            </tr>
}
                        </table>
                    </a>
                </li>
            }        
        </ul>
    </div>
}

<h3 style="text-align:center">Ostatnie mecze:</h3>
@foreach (DateTime date in beforeDateList)
{
    <div style="max-width:682px;margin:auto">
        <div class="panel" style="padding-bottom:0px;margin-bottom:0px;padding-top:0px;margin-top:0px">
            <div class="panel-heading">
                <h3 class="panel-title" style="text-align:center">@date.Date.ToShortDateString()</h3>
            </div>
        </div>
        <ul style="list-style-type:none;margin:0px;padding:0px">
            @foreach (Match match in beforeList.Where(p => p.Date.Date == date.Date))
            {
                <li>
                    <a href="@Url.Action("SingleMatch", "Home", new { id = match.Id })">
                        <table class="table table-striped table-hover " style="margin:0px;padding:0px">
@if (match.Factor != 1)
{
    <tr class="danger">
        <td colspan="7" style="text-align:center">
            Mecz punktowany x @match.Factor
        </td>
    </tr>
    <tr class="danger">
        <td width="23%" style="vertical-align:middle">@match.Date.ToString("HH:mm")</td>
        <td width="10%" align="right" style="vertical-align:middle">
            @match.HomeTeam.ShortName
        </td>
        <td width="8%" align="center">
            <img src="@Url.Content("~/Content/Images/Flags/" + match.HomeTeam.ShortName + ".png")" width="30" height="30" />
        </td>
        <td width="18%" align="center" style="vertical-align:middle">
            @if (match.Score != null)
            {
                <span>@match.Score.HomeScore.ToString():@match.Score.AwayScore.ToString()</span>
            }
            else
            {
                <span>n/d</span>
            }
        </td>
        <td width="8%" align="center">
            <img src="@Url.Content("~/Content/Images/Flags/" + match.AwayTeam.ShortName + ".png")" width="30" height="30" />
        </td>
        <td width="10%" align="left" style="vertical-align:middle">
            @match.AwayTeam.ShortName
        </td>
        <td width="23%" align="right" style="vertical-align:middle">
            @if (User.Identity.IsAuthenticated)
            {
                if (match.Bets.Any(p => p.User.UserName == User.Identity.Name))
                {
                    Bet bet = match.Bets.Single(p => p.User.UserName == User.Identity.Name);
                    <span>| <b>@bet.HomeScore:@bet.AwayScore</b></span>
                }
                else
                {
                    <span>| <b>brak</b></span>
                }
            }
        </td>
    </tr>

}
else
{
                            <tr>
                                <td width="23%" style="vertical-align:middle">@match.Date.ToString("HH:mm")</td>
                                <td width="10%" align="right" style="vertical-align:middle">
                                    @match.HomeTeam.ShortName
                                </td>
                                <td width="8%" align="center">
                                    <img src="@Url.Content("~/Content/Images/Flags/" + match.HomeTeam.ShortName + ".png")" width="30" height="30" />
                                </td>
                                <td width="18%" align="center" style="vertical-align:middle">
                                    @if (match.Score != null)
                                    {
                                        <span>@match.Score.HomeScore.ToString():@match.Score.AwayScore.ToString()</span>
                                    }
                                    else
                                    {
                                        <span>n/d</span>
                                    }
                                </td>
                                <td width="8%" align="center">
                                    <img src="@Url.Content("~/Content/Images/Flags/" + match.AwayTeam.ShortName + ".png")" width="30" height="30" />
                                </td>
                                <td width="10%" align="left" style="vertical-align:middle">
                                    @match.AwayTeam.ShortName
                                </td>
                                <td width="23%"  align="right" style="vertical-align:middle">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        if (match.Bets.Any(p => p.User.UserName == User.Identity.Name))
                                        {
                                            Bet bet = match.Bets.Single(p => p.User.UserName == User.Identity.Name);
                                            <span>| <b>@bet.HomeScore:@bet.AwayScore</b></span>
                                        }
                                        else
                                        {
                                            <span>| <b>brak</b></span>
                                        }
                                    }
                                </td>
                            </tr>
}
                        </table>
                    </a>
                </li>
            }
        </ul>
    </div>
}







