@model IEnumerable<BetEuro.Leaderboard> 

@{
    ViewBag.Title = "Leaderboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="panel-title">Uwaga!</h4>
    </div>
    <div class="panel-body">
        Tabela jest aktualizowana jednocześnie z aktualizacją wyników meczy. Jeżeli mecz nie ma aktualnego wyniku to tabela też nie będzie aktualna.
    </div>
</div>

<div class="row" align="center">
    <div class="col-md-6">
        <h4>Z piwem</h4>
        <table class="table table-striped table-hover ">
            <tr>
                <th>
                    Poz
                </th>
                <th>
                    Login
                </th>
                <th title="Obstawiony ale nie trafiony">
                    -
                </th>
                <th title="Trafiony rezultat ale nie wynik">
                    +
                </th>
                <th title="Trafiony wynik">
                    :)
                </th>
                <th>
                    Pts
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Where(p => p.User.Piwo).OrderByDescending(p => p.Points).ThenByDescending(p => p.ScoreHit).ThenByDescending(p => p.ResultHit).ThenByDescending(p => p.PlacedBets))
            {
                <tr>
                    <td title="Pozycja">
                        @item.GetPositionPiwo()
                    </td>
                    <td style="width:50%">
                        @if (item.User.Paid)
                        {
                            @Html.ActionLink(@item.User.UserName, "UserBets", "Home", new { userName = @item.User.UserName }, null)
                        }
                        else
                        {
                            @Html.ActionLink(@item.User.UserName, "UserBets", "Home", new { userName = @item.User.UserName }, null) @: (PIWO nieaktywne)
                        }
                    </td>
                    <td title="Obstawiony ale nie trafiony">
                        @item.PlacedBets
                    </td>
                    <td title="Trafiony rezultat ale nie wynik">
                        @item.ResultHit
                    </td>
                    <td title="Trafiony wynik">
                        @item.ScoreHit
                    </td>
                    <td>
                        @item.Points
                    </td>
                    <td></td>
                </tr>
            }
        </table>       
    </div>
    <div class="col-md-6">
        <h4>Wszyscy</h4>
        <table class="table table-striped table-hover ">
            <tr>
                <th>
                    Poz
                </th>
                <th>
                    Login
                </th>
                <th title="Obstawiony ale nie trafiony">
                    -
                </th>
                <th title="Trafiony rezultat ale nie wynik">
                    +
                </th>
                <th title="Trafiony wynik">
                    :)
                </th>
                <th>
                    Pts
                </th>
                <th></th>
            </tr>


            @foreach (var item in Model.OrderByDescending(p => p.Points).ThenByDescending(p => p.ScoreHit).ThenByDescending(p => p.ResultHit).ThenByDescending(p => p.PlacedBets))
            {
                <tr>
                    <td title="Pozycja">
                        @item.GetPositionAll()
                    </td>
                    <td style="width:50%">
                        @Html.ActionLink(@item.User.UserName, "UserBets", "Home", new { userName = @item.User.UserName }, null)
                    </td>
                    <td title="Obstawiony ale nie trafiony">
                        @item.PlacedBets
                    </td>
                    <td title="Trafiony rezultat ale nie wynik">
                        @item.ResultHit
                    </td>
                    <td title="Trafiony wynik">
                        @item.ScoreHit
                    </td>
                    <td>
                        @item.Points
                    </td>
                    <td></td>
                </tr>
            }

        </table>

    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="panel-title">Legenda</h4>
    </div>
    <div class="panel-body">
        <ul>
            <li><b>-</b>  - nietrafiony typ </li>
            <li><b>+</b>  - trafiony rezultat</li>
            <li><b>:)</b> - trafiony dokładny wynik</li>            
        </ul>
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="panel-title">Kolejność (co decyduje)</h4>
    </div>
    <div class="panel-body">
        <ol>
            <li>punkty</li>
            <li>trafione wyniki</li>
            <li>trafione rezultaty</li>
            <li>ilość obstawionych meczy</li>
            <li>przy remisie podział nagrody</li>
        </ol>
    </div>
</div>


