@model IEnumerable<BetEuro.Leaderboard> 

@{
    ViewBag.Title = "Leaderboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" align="center">
    <div class="col-md-4">
        <h4>Z piwem</h4>
        <table class="table table-striped table-hover ">
            <tr>
                <th>
                    Login
                </th>
                <th title="Obstawiony ale nie trafiony">
                    -
                </th>
                <th title="Trafiony rezultat ale nie wynik">
                    +
                </th>
                <th title="Trafiony wynik">
                    :)
                </th>
                <th>
                    Punkty
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Where(p => p.User.Piwo).OrderByDescending(p => p.Points).ThenByDescending(p => p.ScoreHit).ThenByDescending(p => p.ResultHit).ThenByDescending(p => p.PlacedBets))
            {
                <tr>
                    <td>
                        @Html.ActionLink(@item.User.UserName, "UserBets", "Home", new { userName = @item.User.UserName }, null)
                    </td>
                    <td title="Obstawiony ale nie trafiony">
                        @item.PlacedBets
                    </td>
                    <td title="Trafiony rezultat ale nie wynik">
                        @item.ResultHit
                    </td>
                    <td title="Trafiony wynik">
                        @item.ScoreHit
                    </td>
                    <td>
                        @item.Points
                    </td>
                    <td></td>
                </tr>
            }
        </table>       
    </div>
    <div class="col-md-4">
        <h4>Wszyscy</h4>
        <table class="table table-striped table-hover ">
            <tr>
                <th>
                    Login
                </th>
                <th title="Obstawiony ale nie trafiony">
                    -
                </th>
                <th title="Trafiony rezultat ale nie wynik">
                    +
                </th>
                <th title="Trafiony wynik">
                    :)
                </th>
                <th>
                    Punkty
                </th>
                <th></th>
            </tr>


            @foreach (var item in Model.OrderByDescending(p => p.Points).ThenByDescending(p => p.ScoreHit).ThenByDescending(p => p.ResultHit).ThenByDescending(p => p.PlacedBets))
            {
                <tr>
                    <td>
                        @Html.ActionLink(@item.User.UserName, "UserBets", "Home", new { userName = @item.User.UserName }, null)
                    </td>
                    <td title="Obstawiony ale nie trafiony">
                        @item.PlacedBets
                    </td>
                    <td title="Trafiony rezultat ale nie wynik">
                        @item.ResultHit
                    </td>
                    <td title="Trafiony wynik">
                        @item.ScoreHit
                    </td>
                    <td>
                        @item.Points
                    </td>
                    <td></td>
                </tr>
            }

        </table>

    </div>
</div>
