@using Microsoft.AspNet.Identity
@model BetEuro.Match

@{
    ViewBag.Title = Model.HomeTeam.ShortName + " - " + Model.AwayTeam.ShortName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("BetThisMatch", "Home", FormMethod.Post))
{

    string userId = User.Identity.GetUserName();
    int homeScore = Model.Bets.Any(p => p.User.UserName == userId) == true ? Model.Bets.Single(p => p.User.UserName == userId).HomeScore : 0;
    int awayScore = Model.Bets.Any(p => p.User.UserName == userId) == true ? Model.Bets.Single(p => p.User.UserName == userId).AwayScore : 0;
    @Html.Hidden("MatchId", Model.Id)
    @Html.Hidden("UserId", userId)
    <br />
    <br />
    <div style="max-width:682px;margin:auto">
        <table class="table table-striped" style="table-layout:fixed;">
            @if (Model.Factor != 1)
            {
                <tr class="info">
                    <td colspan="3" style="text-align:center">
                        <span style="font-size: 18.2px">Mecz punktowany x @Model.Factor</span>
                    </td>
                </tr>
                <tr></tr>
            }
            else
            {
                <tr class="info">
                    <td colspan="3" style="text-align:center"></td>
                </tr>
                <tr></tr>
            }
            <tr class="info" style="padding-bottom:5px">
                <td width="40%" align="center">
                    <img src="@Url.Content("~/Content/Images/Flags/" + Model.HomeTeam.ShortName + ".png")" style="width:100%; height:auto;display:block" />
                    <span style="font-size: 18.2px">@Model.HomeTeam.LongName</span>
                </td>
                <td width="20%" align="center" style="vertical-align:middle">
                    <span style="font-size: 18.2px;vertical-align:middle">Wynik:</span>
                    <br />
                    @if (Model.Score != null)
                    {
                        <span style="font-size: 18.2px;vertical-align:middle">@Model.Score.HomeScore.ToString() : @Model.Score.AwayScore.ToString()</span>
                    }
                    else
                    {
                        <span style="font-size: 18.2px;vertical-align:middle">n/d</span>
                    }
                </td>
                <td width="40%" align="center">
                    <img src="@Url.Content("~/Content/Images/Flags/" + Model.AwayTeam.ShortName + ".png")" style="width:100%; height:auto;display:block" />
                    <span style="font-size: 18.2px">@Model.AwayTeam.LongName</span>
                </td>
            </tr>
            @if (Model.Bets.Any(p => p.User.UserName == userId))
            {
                <tr style="padding-bottom:5px">
                    <td colspan="3" align="center"><h4>Twój typ:</h4></td>
                </tr>
            }
            else
            {
                if (Model.Date > DateTime.Now)
                {
                    <tr style="padding-bottom:5px">
                        <td colspan="3" align="center"><h4>Brak Twojego typu, obstaw wynik:</h4></td>
                    </tr>
                }
                else
                {
                    <tr style="padding-bottom:5px">
                        <td colspan="3" align="center"><h4>Spóźniłeś się z obstawianiem tego meczu.</h4></td>
                    </tr>
                }
            }
            @if (Model.Date > DateTime.Now)
            {
                <tr style="padding-bottom:5px">
                    <td width="40%" align="center" style="vertical-align:middle">
                        <div class="form-group" style="margin:0px auto;padding:0px;">
                            <input type="button" class="btn btn-primary" style="height:50px;width:50px;margin:0px auto;margin-bottom:8px;padding:0px" id="btnHomePlus" value="+" />
                        </div>
                        <div class="form-group" style="margin:0px auto;padding:0px;">
                            <label style="height:50px;width:50px;font-size:28px;margin:0px auto;padding:0px;vertical-align:middle" id="HomeScore">@homeScore</label>
                            @Html.TextBox("HomeScoreT", homeScore, new { @style = "display:none", @type = "number" })
                        </div>
                        <div class="form-group" style="margin:0px auto;padding:0px;">
                            <input type="button" class="btn btn-primary" style="height:50px;width:50px;margin:0px auto;padding:0px" id="btnHomeMinus" value="-" />
                        </div>
                    </td>
                    <td width="20%" align="center" style="vertical-align:middle">
                        <div class="form-group" style="margin:0px auto;padding:0px;">
                            <input type="submit" value="Obstaw!" class="btn btn-info" style="height:50px;width:100px" />
                            @if (ViewBag.Message != null)
                            {
                                <p class="alert-danger">@ViewBag.Message</p>
                            }
                        </div>
                    </td>
                    <td width="40%" align="center" style="vertical-align:middle">
                        <div class="form-group" style="margin:0px auto;padding:0px;">
                            <input type="button" class="btn btn-primary" style="height:50px;width:50px;margin:0px auto;margin-bottom:8px;padding:0px" id="btnAwayPlus" value="+" />
                        </div>
                        <div class="form-group" style="margin:0px auto;padding:0px;">
                            <label style="height:50px;width:50px;font-size:28px;margin:0px auto;padding:0px;vertical-align:middle" id="AwayScore">@awayScore</label>
                            @Html.TextBox("AwayScoreT", awayScore, new { @style = "display:none", @type = "number" })
                        </div>
                        <div class="form-group" style="margin:0px auto;padding:0px;">
                            <input type="button" class="btn btn-primary" style="height:50px;width:50px;margin:0px auto;padding:0px" id="btnAwayMinus" value="-" />
                        </div>
                    </td>
                </tr>
            }
            else
            {
                if (Model.Bets.Any(p => p.User.UserName == userId))
                {
                    <tr style="padding-bottom:5px">
                        <td width="40%" align="center">
                            @Html.Label(homeScore.ToString(), new { @style = "width:50px;height:50px;font-size:30px;text-align:center", @type = "number" })
                        </td>
                        <td width="20%" align="center">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    @if (ViewBag.Message != null)
                                    {
                                        <h5 class="alert-danger" style="font-size: 18.2px">@ViewBag.Message</h5>
                                    }
                                    else
                                    {
                                        <span style="width:50px;height:50px;font-size:30px;text-align:center">:</span>
                                    }
                                </div>
                            </div>
                        </td>
                        <td width="40%" align="center">
                            @Html.Label(awayScore.ToString(), new { @style = "width:50px;height:50px;font-size:30px;text-align:center", @type = "number" })
                        </td>
                    </tr>
                }
                else
                {
                    <tr></tr>
                }
            }
        </table>
    </div>
    if (Model.Date < DateTime.Now)
    {
        <div class="row">
            <div class="col-sm-12">
                <h4 style="text-align:center">Statystyki</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p>
                    @Html.Action("_MatchScores", "Charts", new { matchId = Model.Id })
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p>
                    @Html.Action("_MatchResult", "Charts", new { matchId = Model.Id })
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p>
                    @Html.Action("_MatchOver", "Charts", new { matchId = Model.Id })
                </p>
            </div>
        </div>
    }
    <div style="max-width:682px;margin:auto">
        <table class="table table-striped" style="table-layout:fixed;">
            @if (Model.Date < DateTime.Now)
                {
                <tr>
                    <td colspan="3" align="center"><h4>Wszystkie typy:</h4></td>
                </tr>
                if (Model.Score == null)
                {
                    foreach (Bet b in Model.Bets)
                    {
                        <tr>
                            <td colspan="2" align="center">
                                @if (b.User.Paid)
                                {
                                    <h5>@Html.ActionLink(@b.User.UserName, "UserBets", "Home", new { userName = @b.User.UserName }, null) (PIWO)</h5>
                                }
                                else
                                {
                                    <h5>@Html.ActionLink(@b.User.UserName, "UserBets", "Home", new { userName = @b.User.UserName }, null)</h5>
                                }
                            </td>
                            <td align="center">
                                <h5>@b.HomeScore - @b.AwayScore</h5>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    foreach (Bet b in Model.Bets.Where(p => p.HomeScore == Model.Score.HomeScore && p.AwayScore == Model.Score.AwayScore))
                    {
                        <tr>
                            <td align="center" width="65%">
                                @if (b.User.Paid)
                            {
                                    <h5>@Html.ActionLink(@b.User.UserName, "UserBets", "Home", new { userName = @b.User.UserName }, null) (PIWO)</h5>
                                }
                                else
                                {
                                    <h5>@Html.ActionLink(@b.User.UserName, "UserBets", "Home", new { userName = @b.User.UserName }, null)</h5>
                                }
                            </td>
                            <td align="center">
                                <h5>@b.HomeScore - @b.AwayScore</h5>
                            </td>
                            <td align="center">
                                @if (Model.Factor == 1)
                            {
                                    <h5>25 punktów</h5>
                                }
                                else if (Model.Factor == 2)
                                {
                                    <h5>50 punktów</h5>
                                }
                                else
                                {
                                    <h5>75 punktów</h5>
                                }
                            </td>
                        </tr>
                    }
                    foreach (Bet b in Model.Bets.Where(p => !(p.HomeScore == Model.Score.HomeScore && p.AwayScore == Model.Score.AwayScore) && p.Result == Model.Score.Result))
                    {
                        <tr>
                            <td align="center" width="65%">
                                @if (b.User.Paid)
                            {
                                    <h5>@Html.ActionLink(@b.User.UserName, "UserBets", "Home", new { userName = @b.User.UserName }, null) (PIWO)</h5>
                                }
                                else
                                {
                                    <h5>@Html.ActionLink(@b.User.UserName, "UserBets", "Home", new { userName = @b.User.UserName }, null)</h5>
                                }
                            </td>
                            <td align="center">
                                <h5>@b.HomeScore - @b.AwayScore</h5>
                            </td>
                            <td align="center">
                                @if (Model.Factor == 1)
                            {
                                    <h5>5 punktów</h5>
                                }
                                else if (Model.Factor == 2)
                                {
                                    <h5>10 punktów</h5>
                                }
                                else
                                {
                                    <h5>15 punktów</h5>
                                }
                            </td>
                        </tr>
                    }
                    foreach (Bet b in Model.Bets.Where(p => !(p.HomeScore == Model.Score.HomeScore && p.AwayScore == Model.Score.AwayScore) && !(p.Result == Model.Score.Result)))
                    {
                        <tr>
                            <td align="center" width="65%">
                                @if (b.User.Paid)
                            {
                                    <h5>@Html.ActionLink(@b.User.UserName, "UserBets", "Home", new { userName = @b.User.UserName }, null) (PIWO)</h5>
                                }
                                else
                                {
                                    <h5>@Html.ActionLink(@b.User.UserName, "UserBets", "Home", new { userName = @b.User.UserName }, null)</h5>
                                }
                            </td>
                            <td align="center">
                                <h5>@b.HomeScore - @b.AwayScore</h5>
                            </td>
                            <td align="center">
                                @if (Model.Factor == 1)
                            {
                                    <h5>1 punkt</h5>
                                }
                                else if (Model.Factor == 2)
                                {
                                    <h5>2 punkty</h5>
                                }
                                else
                                {
                                    <h5>3 punkty</h5>
                                }
                            </td>
                        </tr>

                    }
                }
            }
        </table>
    </div>

}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            $('#btnHomeMinus').click(function (e) {
                var val = parseInt(document.getElementById("HomeScoreT").value);

                if (val < 1) {
                    document.getElementById("HomeScore").textContent = 0;
                    document.getElementById("HomeScoreT").value = 0;
                }
                else {
                    document.getElementById("HomeScore").textContent = val - 1;
                    document.getElementById("HomeScoreT").value = val - 1;
                }
            });
            $('#btnHomePlus').click(function (e) {
                var val = parseInt(document.getElementById("HomeScoreT").value);

                if (val < 0) {
                    document.getElementById("HomeScore").textContent = 0;
                    document.getElementById("HomeScoreT").value = 0;
                }
                else {
                    document.getElementById("HomeScore").textContent = val + 1;
                    document.getElementById("HomeScoreT").value = val + 1;
                }
            });
            $('#btnAwayMinus').click(function (e) {
                var val = parseInt(document.getElementById("AwayScoreT").value);

                if (val < 1) {
                    document.getElementById("AwayScore").textContent = 0;
                    document.getElementById("AwayScoreT").value = 0;
                }
                else {
                    document.getElementById("AwayScore").textContent = val - 1;
                    document.getElementById("AwayScoreT").value = val - 1;
                }
            });
            $('#btnAwayPlus').click(function (e) {
                var val = parseInt(document.getElementById("AwayScoreT").value);

                if (val < 0) {
                    document.getElementById("AwayScore").textContent = 0;
                    document.getElementById("AwayScoreT").value = 0;
                }
                else {
                    document.getElementById("AwayScore").textContent = val + 1;
                    document.getElementById("AwayScoreT").value = val + 1;
                }
            });

        });
        $(document).on('invalid-form.validate', 'form', function () {
            var button = $(this).find('input[type="submit"]');
            setTimeout(function () {
                button.removeAttr('disabled');
            }, 1);
        });
        $(document).on('submit', 'form', function () {
            var button = $(this).find('input[type="submit"]');
            setTimeout(function () {
                button.attr('disabled', 'disabled');
            }, 0);
        });
    </script>
}



